.editingTask {
    position: absolute;
    border: 2px solid #763add;
    background-color: #763add;
    color: #fff;
    border-radius: 10px;
    width: 300px;
    top: -80px;
    right: -320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
        font-size: 18px;
    }

    .renameField {
        height: 40px;
        padding: 5px;
        font-size: 20px;
        border: 2px solid #763add;
        border-radius: 10px;
        &:focus {
            background-color: #dfdddd;
        }
    }

    .deleteBtn {
        width: 70px;
        background-color: #fff;
        color: #763add;
        font-size: 17px;
        border-radius: 5px;
        padding: 10px;
    }

    .changesBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .cancelBtn {
            background-color: #f90000;
            width: 100px;
            color: #fff;
            font-size: 17px;
            border-radius: 5px;
            padding: 10px;
        }

        .saveBtn{
            background-color: #ffffff;
            width: 100px;
            color: #763add;
            font-size: 17px;
            border-radius: 5px;
            padding: 10px;
        }
    }
}
